* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	overflow: hidden;
}

input {
	background: transparent;
	border: none;
	outline: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #1890ff;
}

a:hover,
a:focus {
	color: rgba(24, 144, 255, .7);
	text-decoration: none;
}

input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #b6b6b6;
	/* placeholder字体大小  */
	font-size: 12px;
	/* placeholder位置  */
}

.login {
	width: 100%;
	height: 100vh;
	background: url(../img/login/login.png)no-repeat;
	position: relative;
	background-size: cover;
	padding-top: 8%;
	box-sizing: border-box;
}

.title {
	height: 83px;
	width: 100%;
	background: url(../img/login/title.png)no-repeat center;
	display: inline-block;
	margin: 0 auto;
}

.loginBox {
	width: 413px;
	height: 455px;
	background-color: #ffffff;
	border-radius: 4px;
	margin: 2% auto;
	padding: 44px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 0px 9px rgba(122, 122, 122, .58);
}

.loginBox .loginTitle {
	font-size: 20px;
	color: #666666;
	text-align: center;
}

.code {
	display: flex;
}

.loginBox>div {
	margin-bottom: 25px;
}

.loginInput img {
	margin: 0px 10px;
	vertical-align: middle;
}

.loginInput {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-image: linear-gradient( #e8f0fe, #e8f0fe), linear-gradient( #00284d, #00284d);
	border-radius: 3px;
	border: solid 1px #dddddd;
}

.code input {
	height: 39px;
	background-image: linear-gradient( #e8f0fe, #e8f0fe), linear-gradient( #00284d, #00284d);
	border-radius: 3px;
	border: solid 1px #dddddd;
	width: 65%;
	margin-right: calc(35% - 94px);
	box-sizing: border-box;
	padding: 0 20px;
}

.code span {
	display: inline-block;
	width: 94px;
	height: 39px;
	border: solid 1px #dddddd;
	font-size: 18px;
	text-align: center;
	box-sizing: border-box;
	line-height: 39px;
}

.loginInput input {
	height: 39px;
	width: 200px;
}

.loginBox a {
	letter-spacing: 0.6px;
}

.loginBtn {
	text-align: center;
	background: #1890ff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.flex {
	display: flex;
}

.loginBox>div:last-child div {
	display: inline-block;
}

.loginBox>div:last-child div a {
	color: #999999;
}

.loginBox>div:last-child div a span {
	margin-left: -10px;
}

.loginBox>div:last-child div img {
	vertical-align: middle;
}

.loginBox>div:last-child>a {
	float: right;
}

.tip {
	position: absolute;
	width: 38px;
	height: 38px;
	background: url(../img/login/code.png)no-repeat;
	background-size: 100%;
	top: 10px;
	right: 10px;
}

.weBox .tip {
	background: url(../img/login/computer.png)no-repeat;
}

.weBox .tipImg {
	position: absolute;
	right: 54px;
	top: 10px;
}

.weBox .code {
	margin: 0 auto;
	margin-top: 66px;
	width: 152px;
	height: 152px;
	background: url(../img/login/QRcode.png);
	background-size: 100%;
}

.loginBox.registe .infor>div {
	display: flex;
	position: relative;
}

.infor .left {
	width: 100px;
	text-align: right;
	height: 40px;
	line-height: 40px;
	padding-right: 10px;
	box-sizing: border-box;
}

.infor .left span {
	color: red;
	margin: 0 2px;
}

.infor .right {
	width: calc(100% - 110px);
	height: 40px;
	background-image: linear-gradient( #e8f0fe, #e8f0fe), linear-gradient( #00284d, #00284d);
	border-radius: 3px;
	border: solid 1px #dddddd;
}

.right input {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	height: 100%;
}

.loginBox>div.infor {
	margin-bottom: 0;
}

.loginBox.registe {
	width: 520px;
	height: auto;
	padding: 34px;
	margin: 10px auto;
}

.infor>div {
	padding-bottom: 20px;
}

.phoneQR {
	width: 110px;
	height: 42px;
	background-image: linear-gradient( #e8f0fe, #e8f0fe), linear-gradient( #00284d, #00284d);
	border-radius: 3px;
	border: solid 1px #dddddd;
}

.infor div .right.flex {
	display: flex;
}

.infor div .right.flex input {
	width: 70%;
}

.getCode .right {
	width: 46%;
	margin-right: calc(54% - 220px);
}

.getCode button {
	cursor: pointer;
}

.footer {
	text-align: center;
	color: #676767;
	font-size: 14px;
	margin: 0;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.registe.right {
	background: #1890ff;
	line-height: 42px;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

.weBox .text {
	width: 131px;
	font-size: 14px;
	line-height: 33px;
	color: #999999;
	margin: 58px auto;
	cursor: default;
}

.weBox .text span:nth-child(2) {
	letter-spacing: 2px;
}

.weBox .text a {
	margin: 2px;
}

.registe .infor div:last-child div:last-child {
	text-align: center;
	width: calc(100% - 100px);
	color: #999999;
}

.registe .infor div:last-child {
	margin-bottom: 0;
}

.registe .infor div:last-child div:last-child>span {
	margin: 0 10px;
}

.box>div:not(:nth-child(1)) {
	display: none;
}

.error {
	position: absolute;
	bottom: 0;
	left: 100px;
	color: #ff0000;
}

.error img {
	display: inline-block;
	margin-right: 5px;
}

.modal-dialog {
	position: absolute;
	left: calc(50% - 300px);
	top: 200px;
}

.modal-content {
	border-radius: 0;
	cursor: default;
}

.modal-header {
	padding: 0 15px;
	background-color: #1890ff;
}

.modal-title h4 {
	height: 16px;
}

.loginSucc>div {
	margin: 10px 0;
	font-size: 18px;
}

.modal-content .btn.btn-default {
	display: inline-block;
	background: #1890ff;
	color: #fff;
	font-weight: bold;
	margin: 20px;
	padding: 5px 15px;
}

.modal-title {
	height: 46px;
	line-height: 46px;
	color: #fff;
}

.loginSucc {
	text-align: center;
	font-size: 18px;
	color: #000000;
	margin-bottom: 20px;
}

button.close {
	color: #fff;
	opacity: 1;
}

button.close:hover {
	opacity: 0.4;
}

.modal-header .close {
	margin-top: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 1556px) {
	.loginBox {
		padding: 30px;
		margin: 10px auto;
	}
	.loginBox.registe {
		padding: 15px;
		margin-top: 0;
	}
	.footer {
		bottom: 10px;
	}
	.login {
		padding: 3%;
	}
	.login.third {
		padding: 10px;
	}
	.login .footer {
		bottom: 20px;
	}
	.infor .left {
		height: auto;
	}
	.loginBox .loginTitle {
		margin-bottom: 10px;
	}
	.third .footer {
		bottom: 10px;
	}
}