	@font-face {
		font-family: 'iconfont';
		/* project id 1245444 */
		src: url('//at.alicdn.com/t/font_1245444_cvhkcozxfwl.eot');
		src: url('//at.alicdn.com/t/font_1245444_cvhkcozxfwl.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1245444_cvhkcozxfwl.woff2') format('woff2'), url('//at.alicdn.com/t/font_1245444_cvhkcozxfwl.woff') format('woff'), url('//at.alicdn.com/t/font_1245444_cvhkcozxfwl.ttf') format('truetype'), url('//at.alicdn.com/t/font_1245444_cvhkcozxfwl.svg#iconfont') format('svg');
	}
	
	.iconfont {
		font-family: "iconfont" !important;
		font-size: 16px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
	}
	
	body {
		font-family: 微软雅黑 Bold, 微软雅黑 Regular, 微软雅黑;
		font-size: 14px;
		color: #000;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	a {
		color: rgba(0, 0, 0, 0.65);
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	.main {
		display: flex;
		background: #f0f2f5;
	}
	
	input::-webkit-input-placeholder {
		/* placeholder颜色  */
		color: #b6b6b6;
		/* placeholder字体大小  */
		font-size: 12px;
		/* placeholder位置  */
	}
	/*左侧导航*/
	
	.s_side {
		background-color: #001529;
		color: rgba(255, 255, 255, 0.65);
		position: relative;
		width: 256px;
		height: 100vh;
	}
	
	.web_title {
		height: 64px;
		background: #00284d;
		color: #fff;
		line-height: 64px;
		text-align: center;
		font-size: 20px;
		margin-bottom: 20px;
		overflow: hidden;
		cursor: default;
	}
	
	.tran {
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		/* Firefox 4 */
		-webkit-transition: all 0.5s;
		/* Safari 和 Chrome */
		-o-transition: all 0.5s;
		/* Opera */
	}
	
	.s_side>ul {
		margin-top: 0;
		padding-left: 0;
		color: #ddd;
	}
	
	.s_side>ul>li {
		line-height: 50px;
		width: 100%;
		cursor: pointer;
		position: relative;
		color: #ddd;
	}
	
	.s_side>ul>li>div>a {
		color: #ddd;
		display: flex;
		align-items: center;
	}
	
	.s_side ul li>ul {
		padding: 0;
		transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		/* Firefox 4 */
		-webkit-transition: opacity 0.5s;
		/* Safari 和 Chrome */
		-o-transition: opacity 0.5s;
		/* Opera */
	}
	
	.s_side>ul>li>div>a>i {
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		/* Firefox 4 */
		-webkit-transition: all 0.5s;
		/* Safari 和 Chrome */
		-o-transition: all 0.5s;
		/* Opera */
	}
	
	.s_side>ul>li>div>a>span {
		word-break: keep-all;
		overflow: hidden;
		text-decoration: none;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		/* Firefox 4 */
		-webkit-transition: all 0.5s;
		/* Safari 和 Chrome */
		-o-transition: all 0.5s;
		/* Opera */
	}
	
	.s_side>ul>li>div>a>i {
		font-size: 14px;
	}
	
	.side_close>ul>li>div>a>i {
		padding-left: 18px;
	}
	
	.s_side>ul>li>div>a .slide_down {
		position: absolute;
		right: 24px;
		top: 0;
	}
	
	.iconRotate {
		transform: rotate(180deg);
		transition: transform .5s;
		display: inline-block;
	}
	
	.s_firstDrop>li {
		line-height: 33px;
	}
	
	.s_firstDrop,
	.s_secondDrop {
		display: none;
	}
	
	.s_firstDrop li div a,
	.s_secondDrop li a {
		color: #ddd;
		text-decoration: none;
		padding-left: 50px;
		line-height: 40px;
	}
	
	.s_secondNav>i.icon_chevron_up {
		margin-right: 18px;
		margin-top: 12px;
	}
	
	.s_secondDrop {
		padding-left: 20px;
		background-color: #000;
	}
	
	.s_secondNav.active,
	.nav_link_thd.active {
		color: #fff;
		background: #1890ff;
	}
	
	.nav-link {
		position: relative;
	}
	
	.nav_link:hover {
		color: #fff;
	}
	
	.side_open {
		width: 256px;
		flex-shrink: 0;
	}
	
	.side_open ul li>ul {
		opacity: 1;
	}
	
	.side_open>ul>li>div>a>span {
		opacity: 1;
	}
	
	.side_open>ul>li>div>a {
		padding-left: 24px;
		text-decoration: none;
		/*transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
		/*-webkit-transition: all 0.5s; /* Safari 和 Chrome */
		/*-o-transition: all 0.5s; /* Opera */
	}
	
	.side_close ul li>ul {
		opacity: 0;
	}
	
	.side_close>ul>li>div>a>span {
		opacity: 0;
	}
	
	.side_close>ul>li>div>a>img {
		/*width: 20px;*/
		margin-left: 15px;
	}
	
	.side_close .web_title {
		opacity: 0;
	}
	
	.side_close {
		width: 50px;
	}
	/*左侧导航*/
	
	.main_right {
		width: 100%;
		height: 100vh;
	}
	/*顶部菜单*/
	
	.main_top {
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		background: #fff;
		border: solid 1px #e9e9e9;
	}
	
	.main_top>i {
		cursor: pointer;
		font-size: 24px;
	}
	
	.main_top span a {
		margin-left: 8px;
	}
	
	.main_top span a span {
		color: #0382f7;
	}
	
	.setting {
		position: relative;
	}
	
	.set_float {
		display: none;
		position: absolute;
		right: 0;
		top: 50px;
		width: 160px;
		height: 106px;
		border-radius: 4px;
		border: 1px solid #d9d9d9;
		background: #fff;
		padding: 4px;
		z-index: 9999;
	}
	
	.set_float li {
		line-height: 32px;
		padding: 0 16px;
	}
	
	.set_float li i {
		padding-right: 8px;
	}
	
	.set_float li:hover {
		background: #e6f7ff;
	}
	/*模态框*/
	
	.modal-dialog {
		width: 820px;
	}
	
	.modal-header {
		background: #1890ff;
		color: #fff;
		line-height: 44px;
		font-size: 16px;
		border: 0;
	}
	
	.modal-header .close {
		color: #fff;
	}
	
	.modal-footer {
		border: 0;
		text-align: center;
	}
	
	.modal-body .checkBox span {
		margin-left: 4px;
		margin-right: 24px;
	}
	
	.btn-primary {
		background-color: #1890ff;
		border-radius: 4px;
		border: 0;
		padding: 5px 20px;
		box-sizing: border-box;
	}
	
	.btn_group {
		text-align: center;
		margin: 10px;
	}
	
	.tip {
		width: 100%;
		padding: 4px 24px;
		background-color: #fff2f1;
		border-radius: 4px;
		border: solid 1px #ffa39e;
		color: #807a79;
	}
	
	.tip i {
		color: #ff0000;
	}
	
	.xgmm_form {
		display: flex;
		justify-content: center;
	}
	
	.modal-body .xgmm_form p {
		margin-right: 12px;
	}
	/*content*/
	
	.main_scroll {
		padding: 24px 24px 0px 24px;
		box-sizing: border-box;
		height: calc(100% - 64px);
		overflow-y: auto;
	}
	
	.container div {
		padding: 0;
	}
	
	.main_content {
		margin-bottom: 48px;
		min-height: calc(100vh - 136px);
	}
	
	.content_div {
		width: 100%;
		background: #fff;
		background-size: cover;
		padding: 24px;
		border: solid 1px #e9e9e9;
		position: relative;
		margin-bottom: 24px;
	}
	
	.content_title {
		display: flex;
		font-size: 20px;
		line-height: 20px;
	}
	
	.content,
	.content_readonly {
		width: 100%;
	}
	
	.des {
		margin: 0 5px;
		width: 6px;
		height: 20px;
		background-color: #1890ff;
		border-radius: 3px;
	}
	
	.content_form {
		margin-top: 24px;
		/*min-height: 96px;*/
	}
	
	.content_form p {
		margin: 0;
		line-height: 32px;
	}
	
	.content_form p span {
		color: red;
	}
	
	.content_form p:last-child {
		color: rgba(0, 0, 0, 0.45);
	}
	
	.content_form input {
		width: 300px;
		height: 32px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		padding-left: 14px;
	}
	
	.content_form>select {
		width: 300px;
		height: 32px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		padding-left: 14px;
	}
	
	.content_form div select {
		width: 94px;
		height: 32px;
		margin-right: 5px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		padding-left: 14px;
	}
	
	.text_edit {
		width: 300px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		margin-top: 10px;
		line-height: 32px;
		padding-left: 14px;
	}
	
	.clear {
		clear: both;
	}
	
	.imgselect {
		color: #d9d9d9;
		display: flex;
	}
	
	.imgselect i {
		font-size: 36px;
	}
	
	.imgselect div {
		width: 200px;
		height: 120px;
		border: 1px dashed #d9d9d9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.container .btn_group {
		padding-top: 24px;
	}
	
	.content_display {
		margin-top: 24px;
	}
	
	.des {
		margin: 0 5px;
		width: 6px;
		height: 20px;
		background-color: #1890ff;
		border-radius: 3px;
	}
	
	.content_form {
		margin-top: 24px;
	}
	
	.content_form p {
		margin: 0;
		line-height: 32px;
	}
	
	.content_form p span {
		color: red;
	}
	
	.content_form p:last-child {
		color: rgba(0, 0, 0, 0.45);
	}
	
	.content_form input {
		width: 300px;
		height: 32px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		padding-left: 14px;
	}
	
	.content_form>select {
		width: 300px;
		height: 32px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		padding-left: 14px;
	}
	
	.content_form div select {
		width: 94px;
		height: 32px;
		margin-right: 5px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		padding-left: 14px;
	}
	
	.text_edit {
		width: 300px;
		border-radius: 4px;
		border: solid 1px #d9d9d9;
		margin-top: 10px;
		line-height: 32px;
		padding-left: 14px;
	}
	
	.main_right {
		overflow-y: scroll;
	}
	
	.clear {
		clear: both;
	}
	
	.imgselect {
		color: #d9d9d9;
		display: flex;
	}
	
	.imgselect i {
		font-size: 36px;
	}
	
	.imgselect div {
		width: 200px;
		height: 120px;
		border: 1px dashed #d9d9d9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.container .btn_group {
		padding-top: 24px;
	}
	
	.content_display {
		margin-top: 24px;
	}
	
	.btn_group_top {
		position: absolute;
		top: 24px;
		right: 24px;
	}
	/*底部备案*/
	
	.footer {
		height: 48px;
		line-height: 48px;
		display: flex;
		justify-content: center;
	}
	/*首次登录*/
	
	.nav {
		width: 100%;
		height: 64px;
		display: flex;
		align-items: center;
		background: #fff;
		border-bottom: solid 1px #e9e9e9;
		box-sizing: border-box;
	}
	
	.nav_title {
		height: 64px;
		background: #00284d;
		color: #fff;
		line-height: 64px;
		text-align: center;
		font-size: 20px;
		overflow: hidden;
		cursor: default;
		width: 256px;
	}
	
	.main_scroll {
		background: #f0f2f5;
	}
	
	.pick {
		padding: 24px;
		background: #fff;
		border: solid 1px #e9e9e9;
		min-height: calc(100% - 48px);
		box-sizing: border-box;
	}
	
	.pick_content {
		margin: 20px 0;
	}
	
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
	
	.pick_content .flex>div {
		width: calc(50% - 24px);
		box-sizing: border-box;
		height: 100px;
		background: #e8f0fe;
		border: #dddddd 1px solid;
		padding: 12px 24px;
		box-sizing: border-box;
		vertical-align: middle;
		position: relative;
		margin-bottom: 24px;
	}
	
	.pick_content .flex>div input {
		position: absolute;
		top: calc(50% - 4px);
		margin: 0;
	}
	
	.pick_content .flex>div:nth-of-type(odd) {
		margin-right: 48px;
	}
	
	.flex-5 {
		display: flex;
	}
	
	.flex-5>div {
		display: inline-block;
	}
	
	.img {
		width: 70px;
		height: 70px;
		background: #00a2ff url(../img/first_login/web.png)no-repeat center center;
		border-radius: 20px;
		margin: 0 20px 0 30px;
	}
	
	.img1 {
		background: #00a2ff url(../img/first_login/app.png)no-repeat center center;
	}
	
	.flex1 {
		border-bottom: solid 1px #e9e9e9;
		margin-bottom: 50px;
		padding-bottom: 30px;
	}
	
	.text>p {
		color: rgba(0, 0, 0, .45);
		font-size: 14px;
	}
	
	.findPwd {
		width: 50%;
		margin: 20px auto;
		min-height: 100px;
		min-width: 650px;
	}
	
	.findPwd>.flex.flexS>div:not(:last-child) {
		flex: 1;
		position: relative;
	}
	
	.findPwd .flex.flexS>div:not(:last-child):after {
		content: "";
		height: 3px;
		background: #e9e9e9;
		margin-left: 20px;
		display: block;
		position: absolute;
		top: 7px;
		left: 20px;
		right: -10px;
	}
	
	.circle {
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #e9e9e9;
		display: block;
		margin: 6px 25px;
	}
	
	.checked .circle,
	.checked:after,
	.findPwd .flex.flexS>div.checked:after {
		background: #1890ff;
	}
	
	.active .circle {
		width: 10px;
		height: 10px;
		background: #1890ff;
		margin-top: 4px;
	}
	
	.flex_3 {
		width: 30%;
	}
	
	.flex_7 {
		width: 70%;
	}
	
	.pwdContent {
		margin: 40px 0;
	}
	
	.pwdContent .flex_3 {
		text-align: right;
		padding-right: 20px;
		box-sizing: border-box;
	}
	
	.red {
		color: red;
		margin: 0 2px;
	}
	
	.pwdContent .flex>div {
		height: 40px;
		line-height: 40px;
		margin: 10px 0;
	}
	
	.pwdContent .flex_7 input {
		border-radius: 3px;
		border: solid 1px #dddddd;
		width: 60%;
		min-width: 320px;
		outline: 0;
		height: 40px;
		padding: 0 10px;
		box-sizing: border-box;
		cursor: pointer;
	}
	
	.btn {
		height: 40px;
		background-image: linear-gradient( #e8f0fe, #e8f0fe), linear-gradient( #00284d, #00284d);
		border-radius: 3px;
		border: solid 1px #dddddd;
		vertical-align: top;
		padding: 0 10px;
		margin-left: 20px;
	}
	
	.pwdContent .btn-primary {
		padding: 0 20px;
		width: 60%;
		min-width: 320px;
		margin: 20px 0;
	}
	
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open>.dropdown-toggle.btn-primary,
	.btn-primary:active:hover,
	.btn-primary.active:hover,
	.open>.dropdown-toggle.btn-primary:hover,
	.btn-primary:active:focus,
	.btn-primary.active:focus,
	.open>.dropdown-toggle.btn-primary:focus,
	.btn-primary:active.focus,
	.btn-primary.active.focus,
	.open>.dropdown-toggle.btn-primary.focus {
		color: #fff;
		background-color: rgba(24, 144, 255, .6);
		border: none;
	}
	
	.pwdContent>div:not(:nth-child(1)) {
		display: none;
	}
	
	.pwdContent .center {
		margin: 80px 0;
	}
	
	.center {
		text-align: center;
	}
	
	.pwdContent button.confirm {
		width: auto;
		min-width: 80px;
		padding: 5px 15px;
	}
	
	.center>div {
		margin: 10px 0;
	}